misc.txt
dags/__pycache__
.ipynb_checkpoints
.part*
part-*
*_SUCCESS*
*.pyc
.DS_Store
service-key.json
.DS_Store
__pycache__
*.log
**/logs/debug.log
*/logs
docker/postgres-db-volume/*
docker/logs/*
docker/minio/*
metastore_db
derby.log