numpy
pandas
pyarrow
delta-spark
boto3
pandas
numpy
geopandas
geopy
matplotlib
seaborn
yfinance
beautifulsoup4
delta
reverse-geocoder
requests
plotly
folium
missingno
praw 
configparser 
psycopg2-binary
# pytz
# pyOpenSSL
# ndg-httpsclient
# pyasn1
# redis
# apache-sedona
# apache-sedona[spark]